In [3]:
import gzip
import pandas as pd
import urllib.request

In [4]:

url = "https://ftp.ncbi.nlm.nih.gov/pub/lu/PubTatorCentral/bioconcepts2pubtatorcentral.gz"
file_path = "bioconcepts2pubtatorcentral.gz"

# Download the file
#urllib.request.urlretrieve(url, file_path)

In [5]:
# Unzip the file
with gzip.open(file_path, 'rb') as f:
    df = pd.read_csv(f, delimiter="\t", header=None)

df

/tmp/ipykernel_31184/259254289.py:3: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, delimiter="\t", header=None)

,0,1,2,3,4
0,3958000,Species,9606,patients,SR4GN
1,3958000,Disease,MESH:D012544,Scheuermann's kyphosis,TaggerOne
2,3958000,Disease,MESH:D007738,kyphosis,TaggerOne|MESH
3,3958000,Disease,MESH:D011183,NaN,MESH
4,23574000,Species,9615,dogs,SR4GN
...,...,...,...,...,...
431818051,30090999,Disease,MESH:D004194,emotional stress,TaggerOne
431818052,30090999,Gene,3630,Insulin,GNormPlus
431818053,30090999,Gene,5617,prolactin,GNormPlus
431818054,30090999,Gene,43,Ache,GNormPlus
431818055,30090999,Disease,MESH:D000067073,psychological dynamism,TaggerOne

In [30]:
# Open the file in read mode
with open("teeth_pmids.txt", 'r') as file:
  # Read all PMIDs into a list, skipping any lines that cannot be converted to an integer
  pmids = [int(line.strip()) for line in file if line.strip().isdigit()]

In [31]:
df_filtered = df[df[0].isin(pmids)]
df_filtered

,0,1,2,3,4
1923,25133000,Disease,MESH:D003790,pulp necrosis,TaggerOne
1924,25133000,Chemical,MESH:D017665,hydroxyl|Hydroxyl,TaggerOne
1925,25133000,Chemical,MESH:D002118,calcium,TaggerOne
1926,25133000,Chemical,MESH:D002266,carboxymethyl cellulose,TaggerOne
1927,25133000,Chemical,MESH:D004492,EDTA,TaggerOne
...,...,...,...,...,...
431814761,34716999,Disease,MESH:D007239,infection,TaggerOne
431814762,34716999,Chemical,MESH:D007559,NaN,MESH
431815272,21209999,Species,9606,patients,SR4GN
431815273,21209999,Disease,MESH:D016388,NaN,MESH
431815274,21209999,Disease,MESH:D007576,NaN,MESH

In [32]:
unique_values = df_filtered[0].nunique()
print("Number of unique values in column 0:", unique_values)

Number of unique values in column 0: 234993

In [25]:
pmids_not_in_df = set(pmids) - set(df[0])
count_pmids_not_in_df = len(pmids_not_in_df)
count_pmids_not_in_df

72102

In [36]:
len(set(pmids))

307095

In [33]:
len(pmids)

345938

In [41]:
df[0].nunique()

28421223

In [42]:
len(set(df[0]))

28421223

In [35]:
df_filtered[0].nunique()

234993